<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omnilegent</title>
</head>
<body>
    <h1>Welcome, {{username}}!</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Status</th>
                <th>Start</th>
                <th>Finish</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>
                    {{this.title}}
                </td>
                <td>
                    {{this.fullName}}
                </td>
                <td>
                    {{this.genre}}
                </td>
                <td>
                    {{this.readingStatus}}
                </td>
                <td>
                    {{this.startDate}}
                </td>
                <td>
                    {{this.finishDate}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</body>
</html>

