<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omnilegent</title>
</head>
<body>
    <header>
        <div id="banner"></div>
        <nav>
            <ul>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Welcome, {{username}}!</h1>
    <br>
    <br>
    <h2></h2>
    <form method="GET" action="/protected">
        <label for="readingStatus">Filter by Reading Status:</label>
        <select name="readingStatus" id="readingStatus" onchange="this.form.submit()">
            <option value="">All</option>
            <option value="Completed" {{#ifEquals readingStatus "Completed"}}selected{{/ifEquals}}>Completed</option>
            <option value="In Progress" {{#ifEquals readingStatus "In Progress"}}selected{{/ifEquals}}>In Progress</option>
            <option value="Not Started" {{#ifEquals readingStatus "Not Started"}}selected{{/ifEquals}}>Not Started</option>
            <option value="Did Not Finish" {{#ifEquals readingStatus "Did Not Finish"}}selected{{/ifEquals}}>Did Not Finish</option>
        </select>
    </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Status</th>
                <th>Start</th>
                <th>Finish</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>
                    {{this.title}}
                </td>
                <td>
                    {{this.fullName}}
                </td>
                <td>
                    {{this.genre}}
                </td>
                <td>
                    {{this.readingStatus}}
                </td>
                <td>
                    {{this.startDate}}
                </td>
                <td>
                    {{this.finishDate}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <br>
    <h2></h2>
</body>
</html>

